<!doctype html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <style>
            body {
                background-color: white;
                /* height: 200vh; */
            }
            #links {
                height: 50%;
            }
            #page_link {
                /* background-color: #4f677d; */
                background-color: #4f80b0;
                height: 50vh;
                width: 25%;
                position: relative;
            }
            #filler {
                background-color: white;
                height: auto;
                width: 18.75%;
            }
            .link {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 1;
            }
        </style>
        <style>
            .dc-navbar {
                position: sticky;
                top: 0;
                z-index: 1000;
            }
        </style>
    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row dc-navbar">
            <a class="navbar-brand m-2" href="/">DraftCompanion</a>
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('champion_list') }}">Champions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('one_v_one') }}">1v1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('five_v_five') }}">5v5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('draft_companion') }}">Draft Companion</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            <p>***NOTE: all data is currently from patch 11.19***</p>
            <div class="container-fluid">
                <div id="links" class="row justify-content-center d-flex mb-5">
                    <div id="page_link" class="col-sm-2 p-3 d-flex">
                        <a href="{{ url_for('champion_list') }}">
                            <span class="link"></span>
                        </a>
                        <div class="container-fluid">
                            <div class="row ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="30vh" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                                </svg>
                            </div>
                            <div class="row ">
                                <h3 class="d-flex align-baseline">Champion Data Tables</h3>
                            </div>
                        </div>
                    </div>
                    <div id="filler" class="col-sm-2 p-3 d-flex"></div>
                    <div id="page_link" class="col-sm-2 p-3 d-flex">
                        <a href="{{ url_for('one_v_one') }}">
                            <span class="link"></span>
                        </a>
                        <div class="container-fluid">
                            <div class="row ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="30vh" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                                    <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                    <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"/>
                                  </svg>
                            </div>
                            <div class="row ">
                                <h3 class="d-flex align-baseline">One v One Calculator</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="links" class="row justify-content-center d-flex mb-5">
                    <div id="page_link" class="col-sm-2 p-3 d-flex">
                        <a href="{{ url_for('five_v_five') }}">
                            <span class="link"></span>
                        </a>
                        <div class="container-fluid">
                            <div class="row ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="30vh" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                                    <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                                  </svg>
                            </div>
                            <div class="row ">
                                <h3 class="d-flex align-baseline">Team Composition Analyzer</h3>
                            </div>
                        </div>
                    </div>
                    <div id="filler" class="col-sm-2 p-3 d-flex"></div>
                    <div id="page_link" class="col-sm-2 p-3 d-flex">
                        <a href="{{ url_for('draft_companion') }}">
                            <span class="link"></span>
                        </a>
                        <div class="container-fluid">
                            <div class="row ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="30vh" fill="currentColor" class="bi bi-cone-striped" viewBox="0 0 16 16">
                                    <path d="m9.97 4.88.953 3.811C10.159 8.878 9.14 9 8 9c-1.14 0-2.158-.122-2.923-.309L6.03 4.88C6.635 4.957 7.3 5 8 5s1.365-.043 1.97-.12zm-.245-.978L8.97.88C8.718-.13 7.282-.13 7.03.88L6.275 3.9C6.8 3.965 7.382 4 8 4c.618 0 1.2-.036 1.725-.098zm4.396 8.613a.5.5 0 0 1 .037.96l-6 2a.5.5 0 0 1-.316 0l-6-2a.5.5 0 0 1 .037-.96l2.391-.598.565-2.257c.862.212 1.964.339 3.165.339s2.303-.127 3.165-.339l.565 2.257 2.391.598z"/>
                                </svg>
                            </div>
                            <div class="row ">
                                <h3 class="d-flex align-baseline">Draft Companion</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>